<hello name="name"></hello>
<p>Start editing to see some magic happen :)</p>

<menu-component></menu-component>
<!--a propiedade [] ="" recebe da propiedade pai-->

<!-- interpolação -->
<my-button buttonLabel = "Texto "></my-button>
<my-button buttonLabel = "{{buttonLabel}} "></my-button>

<!-- property biding-->
<my-button [buttonLabel] ="buttonSecond"></my-button>
<my-button [buttonLabel] ="''"></my-button>
<h5>Lazy Loading</h5>

<!-- two way data biding-->

<app-entry-data></app-entry-data>

buttonLabel